﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Data/AdminMaster.master" AutoEventWireup="true" CodeFile="changePassword.aspx.cs" Inherits="changePassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table>
        <tr>
            <td>
              New Password:<asp:TextBox ID="txtnew" runat="server"></asp:TextBox>  
            </td>
        </tr>
        <tr>
            <td>
                 Confirm Password:<asp:TextBox ID="txtcon" runat="server"></asp:TextBox> 
            </td>
        </tr>
        <tr>
            <td>
                 <asp:Button ID="btnsub" runat="server" Text="Submit" OnClick="btnsub_Click" /> 
            </td>
        </tr>

    </table> 
   
  
</asp:Content>

