﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UserMasterPage.master" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Logout" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="container">
        <div id="loginbox" style="margin-top: 50px; margin-left: 350px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <img src="images/logoutimage.png" />
        </div>
    </div>

</asp:Content>

