﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UserMasterPage.master" AutoEventWireup="true" CodeFile="product.aspx.cs" Inherits="product" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <div class="about-team">
        <div class="container">
         
            <div class="row team-row">
                
                <div id="veg" runat="server"> </div>
         
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</asp:Content>

