﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Data/AdminMaster.master" AutoEventWireup="true" CodeFile="Offer.aspx.cs" Inherits="Admin_Data_Offer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table class="table">
        <tr>
            <td>
                <asp:FileUpload ID="flupImage1" runat="server" CssClass="form-control" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Description:
            </td>
            <td>
                <asp:TextBox ID="txtDesImg1" runat="server" CssClass="form-control"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="submitOffer" CssClass="btn btn-success" />
            </td>
            <td>

            </td>
        </tr>
    </table>
    <asp:Label ID="lblTxt" runat="server" Text=""></asp:Label>
</asp:Content>

